html {box-sizing: border-box; }
body {font-family: 'Open Sans', sans-serif; font-size: 16px;}

nav {text-align: center;top:0; left: 0; position: fixed;height: 100%;width: 300px; background: linear-gradient(to bottom left,#FFFB06 0%, #FFC30F 90%);border-right: 1px solid rgba(180, 180, 180, .3);}
nav ul {padding-left: 0; margin-top: 0; text-align: left;}
nav a {text-decoration: none; color: inherit;}
nav a:visited {text-decoration: inherit;}
nav li:hover {background: linear-gradient(to bottom left,#4A90E2, #1F6AC3); color: #e4e4e4;}
nav li { padding:15px; border-bottom: 1px solid rgba(180, 180, 180, .3);}

main {margin-left: 300px; padding-left: 4em; left:0; top:0; position: relative;}
section {margin: 4em auto; text-align: left; border-bottom: 1px solid rgba(180, 180, 180, .8);}
section:last-of-type {border-bottom: 0;}

header {font-size: 2em; font-weight:400;}
nav header {padding: 15px;border-bottom: 1px solid rgba(180, 180, 180, .3)}

p {margin: 1rem auto;}

h1 {font-size: 1.8em;margin-bottom: 0;letter-spacing: 3px;}
header p {font-size: 0.9em; font-weight: normal;}

h2 {font-weight: normal; margin-top: 2rem;}

article ul { list-style-type: none; background: linear-gradient(to bottom,#4A90E2, #1F6AC3);margin-right: 10vw;padding:7px; border-radius: 5px;color: white;}
article li {margin: 10px;}


.description { background: linear-gradient(to bottom,#FFFB06, #FFC30F);margin-right: 90px;padding:7px; border-radius: 5px;text-align: center;}

img {display: block;border: 1px solid rgba(180, 180, 180, .3); margin-top: 2em; margin-bottom: 2em;}

code {background-color: #e4e4e4; border-radius: 2px;}
li > code {background-color: transparent;}

.page-header {background: linear-gradient(to bottom,#4A90E2, #1F6AC3); padding:15px;border-radius: 5px; color: white;}

@media (max-width: 1100px) {
    nav {height: 30%; width: 100%; position: relative;display: block; overflow: scroll;}
    main {margin:auto; padding-left: 0;max-width: 100%;}
    img { max-width: 100%;}
    }
    
@media (max-width: 400px) {
    h1 {font-size: 1.5em;}
    header p {font-size:0.7em;}
    }

